
<template>
    <div>
        <div class="pure-menu pure-menu-horizontal header">
            <div class="pure-g" style="box-shadow:1px 2px 4px rgba(47, 45, 45,0.4);">
                <div class="pure-u-8-24" style="text-align:left;">
                   <img src="/server/media/image/customerlogo.png" class="customerlogo commonlogo">
                </div>
                <div v-if="true" class="pure-u-8-24" >
                   <span class="dashboardtitle"> {{title}}</span>
                </div>
                <div v-if="true" class="pure-u-8-24 shopworxwhite" style="text-align:right;">
                    <img src="/server/media/image/shopworxcolor.png" class="shopworxlogo commonlogo">
                </div>
            </div>
        </div>
    </div>
</template>
<script>

export default {
  name: 'swxheader',
  props: {
    title: {
      type: String
    }
  }
}
</script>

<style scoped>
@import '../assets/pure.css';

.commonlogo {
  height: 95%;
}
.customerlogo {
  width: 130px;
  margin-left: 0px !important;
  text-align: left;
  padding:1px 0px 0px 3px;
}
.shopworxlogo {
  width: 130px;
  margin-left: 0px !important;
  text-align: left;
  padding:1px 3px 0px 0px;
}
.header {
  background: white;
  color: white;
}
.header div{
height: 48px !important;
}
.dashboardtitle {
  color: black;
  font-size: 33px;
  font-weight: 520;
  line-height: 1.4;
  font-family: "NunitoSans";
}
</style>
