<template>
  <div class="graph" >
    <div>
       <div  class="heading pure-g">
        <div class="pure-u-3-4 title">{{headingName | uppercase }} <span class="headingparameter">{{graphData.parameters[0].stationparameterdescription}}</span></div>
        <div v-if="graphData.parameters.length==1" class="pure-u-1-4 value" :class="headerValueClass">{{currentVal }}</div>
      </div>
    </div>
     <div style="disply:item;width:100%;" id="widgettitle">
          <div class="graphbodycontainer" id="graphcontainer"> </div>
     </div>
  </div>
</template>

<script>
import Highcharts from 'highcharts'
import swxapi from '@/components/swx-api.vue'
import moment from 'moment'
// import configs from '@/configs.json'
let config = {}
// Set the default Graph content
let gOptions = {
  navigator: { enabled: true },
  chart: {type: 'spline',renderTo: '', zoomType: '', panning: true, navigator: { enabled: true}},
  title: {text: '', x: -20 },
  subtitle: {text: '', x: -20},
  xAxis: {type: 'datetime', labels: {format: '{value:%a}'}, title: {text: 'Time'}},
  credits: {enabled: false},
  yAxis: {min: 0, opposite: false, title: {text: 'Y Axis'},
  plotBands: [{color: '', from: 0, to: 0}, {color: '', from: 0, to: 0}, {color: '', from: 0, to: 0}],
  plotLines: [{id: 'limit-min', color: '', dashStyle: 'ShortDash', width: 2, value: 0, zIndex: 0},
              {id: 'limit-max', color: '', dashStyle: 'ShortDash', width: 2, value: 0, zIndex: 0}]},
  plotOptions: {series: {marker: {enabled: false}, turboThreshold: 0}},
  tooltip: {valueSuffix: ''},
  legend: {enabled: false, layout: 'horizontal', align: 'center', verticalAlign: 'bottom', borderWidth: 0},
  series: []
};
export default {
  name: 'graph-widget',
  data () {
    return {
      swxapi: swxapi,
      gOptions: gOptions,
      graphObject: [],
      querystarttime: {},
      moment: moment,
      configs: configs,
      currentVal: 0,
      headerValueClass: 'green'
    }
  },
  props: {
    graphData: {
      required: true
    },
    allEvents: {
      required: true,
      type: Object
    }
  },
  methods: {
    initSocket: function(elementName, parameterName) {
      let that = this
      if (this.graphData.parameters.length) {
        this.$root.socket.on('update_' + elementName, function(serverCurrentVal) {
          if (that.graphData.parameters.length === 1) {
            that.currentVal = serverCurrentVal[that.graphData.parameters[0].stationparameter].toFixed(2)
            that.currentVal = Number(that.currentVal)
            let min = that.graphData.parameters[0].min
            let max = that.graphData.parameters[0].max
            min = Number(min)
            max = Number(max)
            if (that.currentVal > min && that.currentVal < max) {
              that.headerValueClass = 'green'
            } else if (that.currentVal < min || that.currentVal > max) {
              that.headerValueClass = 'red'
            }
          }

          if (that.socketcounter[that.graphData.graphID] !==that.configs.queryInterval / 1000) {
            that.socketcounter[that.graphData.graphID]++
            console.log('id: ' + that.graphData.graphID + ' count : ' + that.socketcounter[that.graphData.graphID] )
          } else {
            that.socketcounter[that.graphData.graphID] = 0
            let timestamp = serverCurrentVal.timestamp ? serverCurrentVal.timestamp : that.moment().valueOf()
            for (let i = 0; i < that.graphData.parameters.length; i++) {
              that.graphObject.series[i].addPoint({
                x: timestamp,
                y: serverCurrentVal[that.graphData.parameters[i].stationparameter]
              })
            }
          }
        })
      }
    },
    changeGraphType: function(type) {
      if (this.options.chart.type === type) {
      } else {
        this.graphObject.destroy()
        this.options.chart.type = type
        this.createChart(this.options)
      }
    },
    createChart: function() {
      // Add Series
      let options = this.gOptions
      this.options = Object.assign({}, options)
      this.options.series = []
      // Set default value to the options
        this.options.yAxis.plotBands = [
            {color: '',from: 0,to: 0},
            {color: '',from: 0,to: 0},
            {color: '',from: 0,to: 0}
        ]

        this.options.yAxis.plotLines = [
                {id: 'limit-min',color: '',dashStyle: 'ShortDash',width: 2,value: 0,zIndex: 0},
                {id: 'limit-max',color: '',dashStyle: 'ShortDash',width: 2,value: 0,zIndex: 0}
        ]

    // Set parameter data to graph
    for (let i = 0; i < this.graphData.parameters.length; i++) {
        this.options.series.push({
          turboThreshold: 0,
          showInNavigator: true,
          name: this.graphData.parameters[i].stationparameterdescription,
          data: []
        });
        // Set Y-Axis name
        this.options.yAxis.title.text = this.graphData.parameters[i].unit

        // Set plot band to the chart
        if (this.graphData.parameters[i].plotbands) {
          let bandLength = this.graphData.parameters[i].plotbands.length
          for (let j = 0; j < bandLength; j++) {
            this.options.yAxis.plotBands[j].from = this.graphData.parameters[i].plotbands[j].min
            this.options.yAxis.plotBands[j].to = this.graphData.parameters[i].plotbands[j].max
            this.options.yAxis.plotBands[j].color = this.graphData.parameters[i].plotbands[j].color
          }
          this.options.yAxis.plotBands[2].to=1/0
        } else {
          this.options.yAxis.plotBands = [
            {
              color: '',
              from: 0,
              to: 0
            },
            {
              color: '',
              from: 0,
              to: 0
            },
            {
              color: '',
              from: 0,
              to: 0
            }
          ]
        }
        // Set plot lines to the chart
        if (this.graphData.parameters[i].plotlines) {
          let plotLineLength = this.graphData.parameters[i].plotlines.length
          let parameter = this.graphData.parameters[i]
          for (let j = 0; j < plotLineLength; j++) {
            this.options.yAxis.plotLines[j].value = this.graphData.parameters[i].plotlines[j].value
            this.options.yAxis.plotLines[j].color = this.graphData.parameters[i].plotlines[j].color
          }
        } else {
          this.options.yAxis.plotLines = [
            {
              id: 'limit-min',
              color: '',
              dashStyle: 'ShortDash',
              width: 2,
              value: 0,
              zIndex: 0
            },
            {
              id: 'limit-max',
              color: '',
              dashStyle: 'ShortDash',
              width: 2,
              value: 0,
              zIndex: 0
            }
          ]
        }
      }

      //  Set xAxis label format
      if (
        this.graphData.starttime == 'hour' ||
        this.graphData.starttime == 'shift' ||
        this.graphData.starttime == 'day'
      ) {
        this.options.xAxis.labels.format = '{value:%H. %M}'
      } else if (this.graphData.starttime == 'week') {
        this.options.xAxis.labels.format = '{value:%a}'
      } else if (this.graphData.starttime == 'month') {
        this.options.xAxis.labels.format = '{value:%e. %b}'
      }

      // Set time ZONE
      Highcharts.setOptions({
        global: {
          timezoneOffset: -(5 * 60 + 30)
        },
        lang: {
          shortWeekdays: [
            'Sunday',
            'Monday',
            'Tuesday',
            'Wednesday',
            'Thursday',
            'Friday',
            'Saturday'
          ]
        }
      })

      // Create the unique id to render multiple graph
      let id = this.graphData.graphID
      id = id.replace(/\s/g, '')
      this.options.chart.renderTo = id
      this.graphObject = new Highcharts.Chart(this.options)

      // Get the Start Time of the query
      this.querystarttime = this.swxapi.getTimeFilter(this, this.$root.timeFilter) || this.$root.timeFilter.shift
      if (this.graphData.datasource == 'report') {
        this.startAddingDataReport()
      } else if (this.graphData.datasource == 'server') {
        this.startAddingDataServer()
      } else {
        alert('Error : Datasource not found!!')
      }
    },
    startAddingDataServer: function() {
      let that = this
      let start = this.querystarttime
      let configs = that.configs
      let end = this.moment().valueOf()
      let query = '&dateto=' + end + '&datefrom=' + start + '&pagenumber=1&pagesize=1&sortquery=createdTimestamp==1';
      let param = {
        elementName: that.graphData.stationname,
        queryParam: query,
        this: that
      };
      // Fetch the station element data
      this.swxapi.getRecords(param).then(
        function(response) {
          let data = response.data.results
          if (data.length > 0) {
            // If there are multiple series/graph
            let x = that.moment(data[0].createdTimestamp, 'DD-MM-YYYY:HH:mm:ss').valueOf()
            for (let i = 0; i < that.graphData.parameters.length; i++) {
              let paraVal = data[0][that.graphData.parameters[i].stationparameter]
              paraVal = paraVal.toFixed(2) || 0;
              that.graphObject.series[i].addPoint({
                x: x,
                y: Number(paraVal)
              })
            }
            that.querystarttime = that.querystarttime + (configs.queryInterval || 300000)

            that.startAddingDataServer()
          } else {
            if (that.graphObject.series[0].data.length > 0) {
              if (that.graphData.parameters.length === 1) {
                let val = that.graphObject.series[0].data[that.graphObject.series[0].data.length - 1].y
                let min = that.graphData.parameters[0].min
                let max = that.graphData.parameters[0].max
                min = Number(min)
                max = Number(max)
                val = Number(val)
                if (val > min && val < max) {
                  that.headerValueClass = 'green'
                } else if (val < min || val > max) {
                  that.headerValueClass = 'red'
                }
                that.currentVal = val
              }
              that.initSocket(that.graphData.stationname)
            } else {
              that.initSocket(that.graphData.stationname)
            }
          }
        },
        function(error) {
          console.log(error)
        }
      )
    },
    startAddingDataReport: function() {
      let that = this
      // Calculate end time
      let endTime = +that.graphData.pollingtype
        ? that.querystarttime + +that.graphData.pollingtype
        : that.querystarttime + that.configs.queryInterval

      // Check end time crosses the current time
      if (endTime < this.moment().valueOf()) {
      } else {
        setTimeout(that.startAddingDataReport (), 10000)
        return
      }
      let param = {
        elementName: that.graphData.reportname,
        startDate: that.querystarttime,
        endDate: endTime,
        this: that
      }
      // Fetch the station element data
      this.swxapi.getReportData(param).then(
        function (response) {
          that.querystarttime = param.endDate
          let data = JSON.parse(response.data.reportData)
          data = data.reportData
          if (data.length > 0) {
            // Add points
            that.graphObject.series.addPoints()
            setTimeout(that.startAddingDataReport, 10000)
          } else {
            that.graphObject.setTitle({ text: 'No Data To Display' })
            setTimeout(that.startAddingDataReport (), 10000)
          }
        },
        function (error) {
          console.log(error)
        }
      );
    },
    refreshGraph: function (type) {
      return true
    }
  },
  mounted: function() {
    let that = this;
    // Generate the dynamic ID of div to render graph
    let graphID = "graph" + this.graphData.sortorder + this.moment().valueOf();
    graphID = graphID.replace(/\s/g, "");
    document.getElementById("graphcontainer").setAttribute("id", graphID);
    this.socketcounter = {};
    this.socketcounter[graphID] = 0;
    this.graphData.graphID = graphID;
    console.log(graphID);
    if (!this.$root.graphmorethan2) {
      $("#" + graphID)[0].style.height = "400px";
    }
    this.createChart();
  },
  computed: {
    headingName: function() {
      return this.graphData.parameters[0].stationdescription + ":";
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import "../assets/pure.css";

.hello {
  margin: 3px;
  margin-bottom: 7px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.heading {
  height: 45px;
  padding: 4px;
  color: #333;
  background: white;
  border: none;
  border-radius: 4px;
}

.heading > div {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  font-size: 30px;
}

.headingparameter {
  font-size: 21px;
  font-weight: 100;
}
.title {
  text-align: left !important;
  font-size: 25px !important;
  font-weight: 600;
  padding-left: 10px;
  padding-top: 5px;
  font-family: "NunitoSans" !important;
}
.value {
  border-radius: 50px 0px 50px 50px;
  font-family: "NunitoSans" !important;
}

.graphbodycontainer {
  height: 182px;
  width: 100%;
}
.red {
  background: #f73930 !important;
  color: #fff;
}
.orange {
  background: #ff9800 !important;
  color: #fff;
}
.green {
  background: #00ab2d !important;
  color: #fff;
}

.swxheading {
  background-color: #fff;
}
</style>