<template>
    <div class="statuscontainer">
        <div class="system">
            <div class="header">
                <div class="pure-u name"> System </div>
                <div class="pure-u status"> Status </div>
                <div class="pure-u load"> Load </div>
                <div class="pure-u cpu"> CPU </div>
                <div class="pure-u memory"> Memory </div>
            </div>
            <div class="content" v-for="item in system">
                <div class="pure-u name"> {{item.name}} </div>
                <div class="pure-u status"> {{item.status}} </div>
                <div class="pure-u load"> -{{item.load}} </div>
                <div class="pure-u cpu"> {{item.cpu}} </div>
                <div class="pure-u memory"> {{item.memory}} </div>
            </div>
        </div>
        <div class="process">
            <div class="header">
                <div class="pure-u name"> Process </div>
                <div class="pure-u status"> Status </div>
                <div class="pure-u uptime"> Up Time </div>
                <div class="pure-u cpu"> CPU Total </div>
                <div class="pure-u memory"> Memory Total </div>
            </div>
        <div class="content" v-for="item in process">
                <div class="pure-u name"> {{item.name}} </div>
                <div class="pure-u status"> {{item.status}} </div>
                <div class="pure-u uptime"> {{item.uptime}} </div>
                <div class="pure-u cpu"> {{item.cpu}} </div>
                <div class="pure-u memory"> {{item.memory}} </div>
            </div>
        </div>
        <div class="network" v-if="network.length > 0">
            <div class="pure-u name"> Type </div>
                <div class="pure-u status"> </div>
                <div class="pure-u uptime"> </div>
                <div class="pure-u cpu"> </div>
                <div class="pure-u memory"> </div>
        </div>
    </div>
</template>
<script>
import io from 'socket.io-client'
export default {
  name: 'status',
  data () {
    return {
      system: [],
      process: [],
      network: []
    }
  },
  mounted: function () {

  },
  created: function () {
    let that = this
    let socket = io.connect(':10190/analyzer')
    socket.on('connect', function (item) {

    })
    socket.on('analyzer_monit', function (data) {
      that.system = data.system
      that.process = data.process
    })
  }
}
</script>

<style scopped>
@import '../assets/pure.css';
    .cpu, .load, .uptime, .memory{
      width : 18%;
      text-align: center;
    }
     .memory{
      width : 30%;
      text-align: center;
    }
    .name,.status{
      width:14% !important;
      text-align: center;
    }
    .content > div{
        height : 30px;
        line-height: 30px;
    }

    .header {
        background: #aaa;
        height : 30px;
        line-height: 30px;
    }
    .process .content:nth-child(even) {
      background: #CCC;
    }
    .process .content:nth-child(odd) {
      background: #FFF;
    }

</style>
