<template>
      <div id="dashboard">
         <swx-header :title="title"></swx-header>
         <!-- Alarm Only -->
          <div style="padding-top:5px;" class="firstrow pure-g">

            <div style="padding:3px; text-align:center;" class="pure-u-6-24">
              <h3 class="clock">
                <span>
                   {{moment(serverTime).format("HH:mm:ss")}}
                </span>
                </h3>
          </div>
        </div>
        <div class='pure-g'>
          <div class='pure-u-1-2'>
            <swx-status/>
          </div>
          <div class='pure-u-1-2'>
            <swx-graph/>
          </div>
        </div>
      </div>
</template>

<script>
import swxheader from './components/swx-header.vue'
import swxstatus from './components/swx-status.vue'
import swxgraph from './components/swx-graph.vue'
import swxapi from './components/swx-api.vue'
import moment from 'moment'
import socketioclient from 'socket.io-client'
export default {
  name: 'Dashboard',
  components: {
    'swx-header': swxheader,
    'swx-status': swxstatus,
    'swx-graph': swxgraph
  },
  data () {
    return {
      stations: [],
      moment: moment,
      serverTime: moment().valueOf(),
      title: 'System Heath Dashboard'
    }
  },
  methods: {

    getServerTime: function () {
      let that = this
      swxapi.getServerTime().then(function (response) {
        if (response.data.Error || response.data.error) {
          var msg = response.data.Error || response.data.error
          that.showAlert(msg)
        } else {
          that.serverTime = response.data.results
          clearInterval(that.time)
          that.time = setInterval( function () {
            that.serverTime += 1 * 1000
          }, 1000)
          setTimeout(that.getServerTime, 10000)
        }
      }, function (error) {
        console.log(error)
      })
    }
  },
  mounted: function () {
    let that = this
    that.getServerTime()
  },
  created: function () {
    var queryParam = this.$route.query // for getting serverIP,customerid and userid
    swxapi.customerid = +queryParam.customerid || 1
    swxapi.userid = +queryParam.userid || 1
    swxapi.serverip = ''
    this.$root.socket = socketioclient.connect()
    // 1) Fetch the stations First
    // 2) Fetch the server Time
    // 3) Fetch the shift
    // 4) Fetch the time values
  }
}
</script>

<style scoped>
@import "./assets/pure.css";

.firstrow {
  height: 246px;
}
.clock {
  background: linear-gradient(#6eed76, #4acf50);
  font-size: 52px;
  color: #222;
  height: 90px;
  line-height: 1.7;
}
.vw-widget-body {
  padding: 0px !important;
}
.VueCarousel-slide {
  position: relative;
  background: #42b983;
  color: #fff;
  font-family: Arial;
  font-size: 24px;
  text-align: center;
  min-height: 100px;
}

.label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.VueCarousel-slide {
  background: white !important;
}
</style>
